/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --white: #FFFFFF;
  --black: #000000;
  --off-white: #F2F2F2;
  --melrose: #ADC4FF;
  --periwinkle: rgb(172, 196, 255, 0.5);
  --red: #FF0000;
  --light-red: #FFC6C6;
  --blue: #0000FF;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.0625rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.4375rem;
}

h6 {
  font-size: 1.1875rem;
}

body {
  padding: 2rem;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;

  background-color: var(--off-white);
}

div.centered {
  display: flex;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header {
  padding-bottom: 0.75rem;
  border-bottom: solid 2px var(--black);
}

header img {
  height: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.div-header {
  border-bottom: solid 4px var(--black);
}


#message-container {
  width: 100%;
  max-width: 44rem;
  border: solid 4px var(--black);
}

#message-container div {
  padding: 0.5rem;
}

#messages {
  height: 10rem;
}

.game-area {
  display: flex;
  gap: 5rem;
}

.board-area {
  display: flex;
  gap: 3rem;
}

.fleets {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.piece {
  display: flex;
  gap: 2px;
}

.carrier {
  grid-template-columns: repeat (5, 1fr);
}

.piece .cell {
  background-color: var(--melrose);
  width: 35px;
  height: 35px;
}

.gameboard {
  font-family: 'Arial';
  display: grid;
  background-color: var(--melrose);
  width: 23rem;
  height: 23rem;
  border: solid 2px var(--melrose);
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
}

.gameboard .cell {
  background-color: var(--white);
  position: relative;
}

/*.gameboard .cell:hover {
  background-color: rgb(255, 200, 0, 0.4);
}*/

#computer-board .cell:hover {
  background-color: rgb(255, 200, 0, 0.4);
}

.cell.hit:hover:after,
.cell.miss:hover:after {
  content: '•';
}

.cell.miss:after {
  background-color: gray;
  content: '•';
  font-size: 1.5rem;
  line-height: 34px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hit:after {
  content: '•';
  font-size: 1.5rem;
  line-height: 34px;
  color: var(--red);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--light-red);
}

.gameboard .ship-cell {
  background-color: var(--periwinkle);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ship {
  outline: solid 2px var(--blue);
}

.ship-span {
  display: grid;
  grid-gap: 2px;
}

.ship-span-h-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2 / span 2;
}

.ship-span-h-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2 / span 3;
}

.ship-span-h-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2 / span 4;
}

.ship-span-h-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-column: 2 / span 5;
}

.hit {
  background-color: var(--light-red);
}

.sunk {
  background-color: var(--red);
}

.ship.sunk {
  outline: solid 2px var(--red);
}